
<h2>Please sign up</h2>
<div class="form">
  <%= simple_form_for @user do |form| %>
      <%= form.input :name, label: false, placeholder: 'Name', autofocus: true %>
      <%= form.input :email, label: false, placeholder: 'Email Address' %>
      <%= form.input :campus, label: false, placeholder: 'Campus' %>
      <%= form.input :password, label: false, placeholder: 'Password' %>
      <%= form.input :password_confirmation, label: false, placeholder: 'Password Confirmation' %>
      <div class="boolean input optional checkbox" id="user_remember_me_input">
        <input name="user[remember_me]" type="hidden" value="0" />
        <label class=" control-label" for="user_remember_me">
          <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />
          Remember me
        </label>
      </div>
      <%= form.button :submit, 'Sign up', class: 'large radius button [secondary success alert];'  %>
  <% end %>

</div>


