<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @reservation.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @reservation.ends_at %>
</p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
